name: upload-to-dockerhubb
run-name: upload-to-dockerhub
on:
  push : 
    branches:
      - 'master'
jobs:
  upload-to-dockerhub:
    runs-on: ubuntu-latest
    steps:
      - run: docker build -t alexkhoury/frontend-ico --file frontend/Dockerfile ./frontend/
      - run: docker push alexkhoury/frontend-ico